*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.preview_wrap {
    position: relative;
    width: 100%;
    height: 100vh;
}

.webgl
{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    z-index: 0;
}
